DATABASE_USERNAME=klp_user
DATABASE_PASSWORD=klp_password
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=klp_db
DEBUG=True
SCRAPE_SCHEDULE="0 6,18 * * *"
HF_ACCESS_TOKEN=your_huggingface_token_here
